# Environment template for franj-chatbot
# DO NOT ADD API KEYS HERE
MINIMAX_API_KEY=your_minimax_api_key_here
MINIMAX_BASE_URL=https://api.minimax.chat/v1
RESUME_GDRIVE_URL=https://docs.google.com/document/d/1tknB91bmaRlUW-ANjuf3u-UNNB9cT0tzNt7SefJdEVI/edit?usp=sharing
